@charset "utf-8";
/* CSS Document */

html,body{margin:0px;
          padding:10px;}
		  
[class*="item-"]{width:150px;
                border:#f00 solid 1px;
				margin:10px;
				}
.item-1{height:120px;}
.item-2{height:100px;}
.item-3{height:40px;}
.item-4{height:200px;
        border:#0f0 solid 1px;
		}
		
@media all and (min-width:640px){		
.flex-container{display:-webkit-flex;
                -webkit-flex-direction: row;
				-webkit-justify-content:space-between;
				-webkit-align-items:center;
				}}

@media all and (max-width:640px){		
.flex-container{display:-webkit-flex;
                -webkit-flex-flow:row wrap;
                -webkit-align-items:flex-start;
				-webkit-justify-content:space-between;
				-webkit-align-content: flex-start;}
				.item-4{-webkit-order:1;}
				.item-1{-webkit-order:2;}
				.item-2{-webkit-order:3;}
				.item-3{-webkit-order:4;}}